body {
    margin:0;
    padding:0;
    background-color:#eeffee;
}

.app {
    display:grid;
    grid-template-columns: repeat(12,auto); 
    grid-template-rows: repeat(12,auto);
}

.titulo {
    display:grid;
}

.titulo_h1 {  
    grid-column:5/7;
    grid-row:1/2;
    justify-content:center;
    text-decoration: underline;
}

/* R2 */

.titulo_h2_2x2 {
    display:grid;
   /*  background-color:blue; */
    grid-column:3/5;
    grid-row: 2/3;
    justify-self: center;
}

.matriz {
    display:grid;
    grid-column:3/5;
    grid-row:3/6;  
   /*  background-color:yellow; */
    justify-content: center;
}

.matriz__r2{
    display:grid;
    grid-template-columns: 50px 50px;
    grid-template-rows: 50px 50px;
    grid-column: 3/5;
    justify-self: center;
    grid-gap:15px;
    outline: none;
}


.determinante2{
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:3/4;
    grid-row: 3/4;   
}
.traspuesta2 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:3/4;
    grid-row: 4/5; 
}

.traspuesta2:hover {
    background-color:lightpink;
}

.adjunta2 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:3/4;
    grid-row: 5/6; 
}

.inversa2 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:3/4;
    grid-row: 6/7; 
}
.result2  {
    display:grid;
    grid-column:5/6;
    grid-row: 2/4;
    grid-gap:25px;
    font-size: 200%;
    justify-content: start;
    align-self: center;
}



.a {
    grid-column: 5/6;
    grid-row: 2/3;
}
.b {
    grid-column: 6/7;
    grid-row: 2/3;
    /* background-color: blue; */
}
.c {
    grid-column: 5/6;
    grid-row: 3/4;
}
.d {
    grid-column: 6/7;
    grid-row: 3/4;
}


/* R3 */
.titulo_h2_3x3 {
    display:grid;
/*     background-color:blue; */
    grid-column:6/8;
    grid-row: 2/3;
    justify-self: center;
}

.matriz-3 {
    display: grid;
    grid-column: 6/8;
    grid-row: 3/4; 
    justify-content:center;
}

.matriz__r3 {
    display:grid;
    grid-template-columns: 40px 40px 40px;
    grid-template-rows: 40px 40px 40px;
    grid-gap:15px;
    grid-column: 6/8;
    border:0;
}
.determinante3 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:6/8;
    grid-row: 3/4;   
}

.traspuesta3 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:6/8;
    grid-row: 4/5;   
}

.adjunta3 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:6/8;
    grid-row: 5/6;   
}

.inversa3 {
    margin-top: 10px;
    justify-self: stretch;
    align-self: end;
    border-radius: 10px;
    font-size: 20px;
    background-color: white;
    box-shadow: solid 3px 3px rgba(0,0,0,0.1);
    grid-column:6/8;
    grid-row: 6/7;   
}

/* Quitar barras laterales de los type number */
input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

